.ul {
  /* padding-top: 59px; */
  list-style: none;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

.url {
  font-size: 0.9rem;
}

.head {
  top: 0;
  /* position: fixed; */
  margin-left: 20px;
}

/* .contents {
  padding-top: 59px;
  display: block;
} */
